
QApplication{
    background-color: blue;
}

QPushButton{
    background-color: white;
}

QLabel{
    background-color: white;
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    
    
}

QLineEdit{
    padding: 14px;
    font-size: 20px;
}

QTextEdit{
    background-color: white;
    padding: 10px;
    font-size: 14px;
}
#NextButton{
    background-color: transparent;
}
#pickDay{
    background-color: red;
    font-size: 12px;
    border-radius: 8px;
}


#back_button{
    font-size: 24px;
}